<div class="searchBar">
    <div class="container">
        <form action="/action" class="search__form" role="search" method="POST">
            <input type="search" aria-label="Search" id="seachInput" name="searchItem"
                placeholder="Search the site..." />
        </form>
        <div class="searchClose">Close</div>
    </div>
</div>